.main-container {
    margin: 10px;
}

.container-dashboard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.h1-title {
    text-align: center;
}

.btn-list {
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid #cccccc;
    padding: 1px;
}

.btn-list:hover{
    color:#2098D1;
    transition: all .2s ease-in-out;
    transform: scale(1.1)
}

.container-default {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-add-list {
    background-color: white;
    border: 3px solid #cccccc;
    padding: 5px;
    
}